<div>
    <p>This demo contains very basic examples of Angular functionality. The HTML and CSS in these examples has been kept
       as simple as possible, so you can focus on the Angular code.</p>

    <p>Two main advantages of Angular:</p>

    <ul>
        <li>It gets a lot done without much code</li>
        <li>It doesn't depend on classes, IDs, parent-child relationships, or anything else that causes code to be brittle</li>
    </ul>

    <p>This demo isn't a full survey of Angular's capabilities, just an idea of how it works.</p>

    <p>Click the links to the left to see the various examples.</p>

    <p>View the source code of each example to see commented-in explanations of the Angular code used.</p>
</div>